.git
.github
.gitignore
.DS_Store
**/.DS_Store
.env
.env.*
**/.env
**/.env.*
**/node_modules
**/dist
**/.gradle
**/build
**/bin
**/__pycache__
**/.pytest_cache
**/.venv
*.tar
*.tar.gz
msa-lecture-images.part.*
